# 系统文件
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# 日志
*.log

# 临时文件
tmp/
temp/

# Node modules
node_modules/

# 环境变量
.env
.env.local

# Capacitor
ios/
android/
.capacitor/

# Xcode
*.xcworkspace
*.xcuserdata
DerivedData/
